# Arduino y compilados
build/
*.hex
*.elf
*.bin
*.map
*.o
*.a

# Archivo de configuración con claves reales (¡No subir a Git!)
config.h
.env
.env.local

# Archivos de exportación temporal y datos grandes
*export.csv
*export.json
!*export_filtered.json

# Archivos de SO
.DS_Store
Thumbs.db
